.rodape{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nossa-empresa{
    color: var(--cor-subtitulos);
    font-family: var(--font-principal);
    font-weight: 600;
    margin: 0.5em 0.5em;
    justify-content: center;
}

.nossa-empresa h2{
    color: var(--cor-titulos-primaria);
    font-family: var(--font-principal);
    font-size: 1.2em;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nossa-empresa ul, li{
    padding: 0.5em;
    font-weight: 500;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}